body {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #000;
  font-size: 70px;
  padding: 30px;
  line-height: 20px;
  font-weight: 100;
  margin: 40px 0 0 10px;
  text-shadow: 2px 2px 5px rgb(27, 27, 27, 0.8);
}

a {
  color: #f2a40d;
  text-decoration: none;
}

li {
  list-style: none;
  font-weight: 100;
  color: #000;
  font-size: 17px;
  margin-left: 10px;
  text-shadow: 2px 2px 5px rgb(27, 27, 27, 0.8);
}

li::first-letter {
  text-transform: capitalize;
}

footer {
  text-align: center;
}

.weather-app-wrapper {
  max-width: 1000px;
  margin: 40px auto;
}

.weather-app {
  border: 1px solid #000;
  border-radius: 13px;
  background: -webkit-linear-gradient(70deg, #fed90f 30%, rgba(0, 0, 0, 0) 30%),
    -webkit-linear-gradient(30deg, #fff 60%, #f2a40d 60%);
  background: -o-linear-gradient(70deg, #fed90f 30%, rgba(0, 0, 0, 0) 30%),
    -o-linear-gradient(30deg, #fff 60%, #f2a40d 60%);
  background: -moz-linear-gradient(70deg, #fed90f 30%, rgba(0, 0, 0, 0) 30%),
    -moz-linear-gradient(30deg, #fff 60%, #f2a40d 60%);
  background: linear-gradient(70deg, #fed90f 30%, rgba(0, 0, 0, 0) 30%),
    linear-gradient(30deg, #fff 60%, #f2a40d 60%);
}

.temperature {
  text-align: center;
  font-size: 100px;
  text-shadow: 2px 2px 5px rgb(27, 27, 27, 0.8);
}

.temperature .active {
  color: black;
  text-decoration: none;
  cursor: default;
}

.temp-units {
  font-size: 20px;
  position: relative;
  left: -10px;
  text-shadow: 2px 2px 5px rgb(27, 27, 27, 0.8);
}

.current-weather-icon {
  display: block;
  margin: 0 auto;
}

.search-bar {
  text-align: center;
  margin-bottom: 35px;
}

.search {
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(27, 27, 27, 0.8);
}

.fa-input {
  border: 2px solid #000;
  border-radius: 50%;
  padding: 5px;
  background-color: #000;
  color: #fff;
  box-shadow: 2px 2px 5px rgb(27, 27, 27, 0.8);
  transition: all 100ms ease-in-out;
}

.fa-input:hover {
  border-color: #fed90f;
  color: #fed90f;
  cursor: pointer;
}

.weekly-weather {
  text-align: center;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  text-shadow: 2px 2px 5px rgb(27, 27, 27, 0.8);
}

.days {
  margin: 0;
  text-shadow: 2px 2px 5px rgb(27, 27, 27, 0.8);
}

.weekly-temp {
  font-size: 20px;
  text-shadow: 2px 2px 5px rgb(27, 27, 27, 0.8);
  margin-bottom: 30px;
}

.extra-info {
  text-align: center;
  padding-bottom: 30px;
  text-shadow: 2px 2px 5px rgb(27, 27, 27, 0.8);
}
